html {
    background-color: var(--bs-body-bg);
    width: 100%;
}

.cuerpo {
    width: 90%;
    margin: auto;
    height: auto;
}

.productos {
    padding: 0 1% 3% 1%;
}

h1 {
    margin: 10px;
    padding-top: 0;
    text-align: center;
    font-size: 50px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: rgba(173, 216, 230, 0.4);
}

.subtitular {
    text-align: center;
    width: 100%;
}

.galeria {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    margin: 10px; /* Ajusta el margen según sea necesario */
    flex: 1 0 18rem; /* Evita que las tarjetas se estiren demasiado */
}

.producto-precio {
    font-size: 1.5em; /* Cambia a unidades relativas */
}

.oferta {
    color: green;
}
/* Estilos generales */
body {
    font-size: 16px; /* Tamaño de fuente base */
}

.cuerpo {
    max-width: 1200px;  
    margin: auto; 
}

 @media (max-width: 768px) {
    body {
        font-size: 14px; 
    }

    .cuerpo {
        padding: 2%; 
    }
}

